.code-box-demo {
  text-align: center;
}
.ant-layout-header {
  background: rgb(194, 29, 24);
  color: #fff;
}
.ant-layout-footer {
  background: rgb(51, 25, 24);
  color: #fff;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}
.ant-layout-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}
.code-box-demo > div > .ant-layout {
  margin-bottom: 48px;
}
.code-box-demo > div > .ant-layout:last-child {
  margin: 0;
}
body {
  background: #f7f7f0;
}
